Atmel Studio/I2C_Slave_Reciever/Debug/
Arduino_master_AVR_sleve.mp4
Atmel Studio/I2C_Slave_Sender/Debug/
P1080534.jpg
Atmel Studio/I2C_Slave_Sender_ATMega88V/Debug/
Atmel Studio/I2C_Slave_Sender_Interrupt/Debug/
